<%= render 'header' %>

<% if flash[:alert] %>
        <div class="alertaMala"> <%= alert %> </div>
      <% end %>
      <% if flash[:notice] %>   
          <div class="alertaBuena"> <%= notice %> </div>
      <% end %>


<div class="form_log_in">


<h2 class="titulo">Editar Tarjeta de Crédito</h2>

<%= form_for(@user, url: registration_path(@user), html: { method: :put }) do |f| %>
	<div class="field">
	  <%= f.label :card, 'Numero de tarjeta'%><br />
      <%= f.number_field :card, autocomplete: "Numero de tarjeta",required: true%>
    </div>
    <div class="field">
      <%= f.label :cvv, 'Codigo de seguridad (CVV)' %><br />
      <%= f.number_field :cvv, autocomplete: "Codigo de seguridad",required: true %>
    </div>
    <div class="field">
      <%= f.label :vencimiento , {:use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']}, 'Fecha de vencimiento' %> <br />   
      <%= f.date_select :vencimiento ,required: true, start_year: 2019, end_year: 2040%>
    </div>

  <div class="field">
    <%= f.label :current_password , 'Contraseña actual'%> <i>(necesitamos tu contraseña actual para confirmar los cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "Contraseña actual" ,required: true%>
  </div>

  <div class="actions">
    <%= f.submit "Actualizar" %>
  </div>
<% end %>

</div>
<%= link_to("Volver",profiles_path) %>


<style type="text/css">
	
.field{
	margin: 5% 0;
}
.field input{
	display: block;
	margin: auto;
}

</style>