<%= render 'header' %>

<% if flash[:alert] %>
        <div class="alertaMala"> <%= alert %> </div>
      <% end %>
      <% if flash[:notice] %>   
          <div class="alertaBuena"> <%= notice %> </div>
      <% end %>


<div class="indexPerfiles">

	<div class="contenedor">
		<h1 class="titulo">
			Cuenta
		</h1>
	</div>

	<div class="contenedor">
		<div class="tema">
			<h2>Informacion de la cuenta</h2>
		</div>
		<div class="contenido">
			<div class="campo"><span class="tit">Nombre: </span> <%= current_user.name %> </div>
			<div class="campo"><span class="tit">Apellido: </span> <%= current_user.surname %> </div>
			<div class="campo"><span class="tit">e-mail: </span> <%= current_user.email %> </div>
			<div class="campo"><span class="tit">Fecha de nacimiento: </span> <%= current_user.date_of_birth.strftime("%d/%m/%Y") %> </div>
			<div class="campo"><span class="tit">Direccion: </span> <%= current_user.address %> </div>
			<div class="campo">
				<span class="tit">Numero de tarjeta: </span> 
				**** **** **** <%= current_user.card % 10000 %> 
			</div>
			<%= link_to "Editar cuenta", edit_user_registration_path%>
		</div>
	</div>

	<div class="contenedor">
		<div class="tema">
			<h2>Suscripcion</h2>
		</div>
		<div class="contenido">
			<div class="campo">
				<span class="tit">Suscripcion: </span> 
					<% if current_user.familiar %>
						Familiar 
					<% else %>
						Estandar
					<% end %>
				<span class="right"><%= link_to "Cambiar", profiles_selectplan_path %></span>
			</div>

		</div>
	</div>


	<div class="contenedor">
		<div class="tema">
			<h2>Perfil Actual</h2>
		</div>
		<div class="contenido">
			<div class="campo">
				<%= image_tag Profile.find(session[:profile_id]).picture , class: "imagenPerfil"%>
				<%= Profile.find(session[:profile_id]).name %> 
				<span class="right"><%= link_to "Cambiar", profiles_select_path %></span>
			</div>
		</div>
	</div>

	<div class="contenedor">
		<div class="tema">
			<h2>Perfiles</h2>
		</div>
		<div class="contenido">

			<% @profiles.where(kids: false).each do |p| %>

				<div class="campo">
					<%= image_tag p.picture , class: "imagenPerfil"%>
					<%= p.name %>
					<span class="right"><%= link_to "Editar", edit_profile_path(p) %></span>
				</div>

			<% end %>
			
		</div>
	</div>


	<div class="contenedor">
		<div class="tema">
			<h2>Perfiles KIDS</h2>
		</div>
		<div class="contenido">

			<% @profiles.where(kids: true).each do |p| %>

				<div class="campo">
					
					<%= image_tag p.picture , class: "imagenPerfil"%>
					<%= p.name %>
					<span class="right"><%= link_to "Editar", edit_profile_path(p) %></span>
				</div>

			<% end %>
			<% if current_user.familiar %>
				<% if current_user.profiles.size < 4 %>
					<%= link_to "Nuevo perfil", new_profile_path, class: "nuevoPerfil"%>
				<% end %>
			<% else %>
				<% if current_user.profiles.size < 2 %>
					<%= link_to "Nuevo perfil", new_profile_path, class: "nuevoPerfil"%>
				<% end %>
			<% end %>
		</div>
	</div>
</div>







