<%= render 'header' %>

<% if flash[:alert] %>
        <div class="alertaMala"> <%= alert %> </div>
      <% end %>
      <% if flash[:notice] %>   
          <div class="alertaBuena"> <%= notice %> </div>
      <% end %>


<div class="form_log_in">

  <h2 class="titulo">Nuevo perfil</h2>

  <%= form_for @profile, html: {multipart: true} do |b| %>
    <div class="field">
    <%= b.label :name, 'Nombre' %><br>
		<%= b.text_field :name , placeholder:'Ingrese aqui el nombre del perfil',required: true%>
    </div>

    <div class="field">
    <%= b.label :kids, 'Kids' %> <br />
    <%= b.check_box :kids %> <br />
    </div>


    



<div class="seleccionarAvatar">

             <%= b.radio_button :picture, "001.png", id: "avatarRadio1", checked: true%>
  <label for="avatarRadio1"><%= image_tag "001.png", class: "avatarImagen"%></label>
             <%= b.radio_button :picture, "002.png", id: "avatarRadio2"%>
  <label for="avatarRadio2"><%= image_tag "002.png", class: "avatarImagen"%></label>
             <%= b.radio_button :picture, "003.png", id: "avatarRadio3"%>
  <label for="avatarRadio3"><%= image_tag "003.png", class: "avatarImagen"%></label>
             <%= b.radio_button :picture, "004.png", id: "avatarRadio4"%>
  <label for="avatarRadio4"><%= image_tag "004.png", class: "avatarImagen"%></label>
             <%= b.radio_button :picture, "005.png", id: "avatarRadio5"%>
  <label for="avatarRadio5"><%= image_tag "005.png", class: "avatarImagen"%></label>
             <%= b.radio_button :picture, "006.png", id: "avatarRadio6"%>
  <label for="avatarRadio6"><%= image_tag "006.png", class: "avatarImagen"%></label>
             <%= b.radio_button :picture, "007.png", id: "avatarRadio7"%>
  <label for="avatarRadio7"><%= image_tag "007.png", class: "avatarImagen"%></label>
             <%= b.radio_button :picture, "008.png", id: "avatarRadio8"%>
  <label for="avatarRadio8"><%= image_tag "008.png", class: "avatarImagen"%></label>
             <%= b.radio_button :picture, "009.png", id: "avatarRadio9"%>
  <label for="avatarRadio9"><%= image_tag "009.png", class: "avatarImagen"%></label>
             <%= b.radio_button :picture, "010.png", id: "avatarRadio10"%>
 <label for="avatarRadio10"><%= image_tag "010.png", class: "avatarImagen"%></label>
             <%= b.radio_button :picture, "011.png", id: "avatarRadio11"%>
 <label for="avatarRadio11"><%= image_tag "011.png", class: "avatarImagen"%></label>
             <%= b.radio_button :picture, "012.png", id: "avatarRadio12"%>
 <label for="avatarRadio12"><%= image_tag "012.png", class: "avatarImagen"%></label>
             <%= b.radio_button :picture, "013.png", id: "avatarRadio13"%>
 <label for="avatarRadio13"><%= image_tag "013.png", class: "avatarImagen"%></label>
             <%= b.radio_button :picture, "014.png", id: "avatarRadio14"%>
 <label for="avatarRadio14"><%= image_tag "014.png", class: "avatarImagen"%></label>
             <%= b.radio_button :picture, "015.png", id: "avatarRadio15"%>
 <label for="avatarRadio15"><%= image_tag "015.png", class: "avatarImagen"%></label>
             <%= b.radio_button :picture, "016.png", id: "avatarRadio16"%>
 <label for="avatarRadio16"><%= image_tag "016.png", class: "avatarImagen"%></label>
             <%= b.radio_button :picture, "017.png", id: "avatarRadio17"%>
 <label for="avatarRadio17"><%= image_tag "017.png", class: "avatarImagen"%></label>
             <%= b.radio_button :picture, "018.png", id: "avatarRadio18"%>
 <label for="avatarRadio18"><%= image_tag "018.png", class: "avatarImagen"%></label>
             <%= b.radio_button :picture, "019.png", id: "avatarRadio19"%>
 <label for="avatarRadio19"><%= image_tag "019.png", class: "avatarImagen"%></label>
             <%= b.radio_button :picture, "020.png", id: "avatarRadio20"%>
 <label for="avatarRadio20"><%= image_tag "020.png", class: "avatarImagen"%></label>
             <%= b.radio_button :picture, "021.png", id: "avatarRadio21"%>
 <label for="avatarRadio21"><%= image_tag "021.png", class: "avatarImagen"%></label>
             <%= b.radio_button :picture, "022.png", id: "avatarRadio22"%>
 <label for="avatarRadio22"><%= image_tag "022.png", class: "avatarImagen"%></label>
             <%= b.radio_button :picture, "023.png", id: "avatarRadio23"%>
 <label for="avatarRadio23"><%= image_tag "023.png", class: "avatarImagen"%></label>
             <%= b.radio_button :picture, "024.png", id: "avatarRadio24"%>
 <label for="avatarRadio24"><%= image_tag "024.png", class: "avatarImagen"%></label>
             <%= b.radio_button :picture, "025.png", id: "avatarRadio25"%>
 <label for="avatarRadio25"><%= image_tag "025.png", class: "avatarImagen"%></label>
             <%= b.radio_button :picture, "026.png", id: "avatarRadio26"%>
 <label for="avatarRadio26"><%= image_tag "026.png", class: "avatarImagen"%></label>
             <%= b.radio_button :picture, "027.png", id: "avatarRadio27"%>
 <label for="avatarRadio27"><%= image_tag "027.png", class: "avatarImagen"%></label>
             <%= b.radio_button :picture, "028.png", id: "avatarRadio28"%>
 <label for="avatarRadio28"><%= image_tag "028.png", class: "avatarImagen"%></label>
             <%= b.radio_button :picture, "029.png", id: "avatarRadio29"%>
 <label for="avatarRadio29"><%= image_tag "029.png", class: "avatarImagen"%></label>
             <%= b.radio_button :picture, "030.png", id: "avatarRadio30"%>
 <label for="avatarRadio30"><%= image_tag "030.png", class: "avatarImagen"%></label>

</div>
<div class="actions">
  <%= b.submit "Agregar" %>
</div>

  <% end %>
  </div>


  <%= link_to("Volver",profiles_path) %>

