<div class="cosoGigante">
	
	<h1>Selecciona un perfil</h1>

	<div class="lista">
	<% @profiles.each do |p| %>

		<a href="<%= profiles_cambiar_path%>?perfil=<%=p.id.to_s%>" class="nombreEImagen">
			
			<%= image_tag p.picture %>
			<span class="nombrePerfil"><%=p.name%></span>
			
		</a>

	<% end %>
	</div>

	<% if flash[:alert] %>
        <div class="alertaMala"> <%= alert %> </div>
      <% end %>
      <% if flash[:notice] %>   
          <div class="alertaBuena"> <%= notice %> </div>
      <% end %>


</div>
