<div class="cosoGigante">
	
	<h1 class="tituloPrincipal">Selecciona el Plan que Deseas Tener</h1>

	<div class="lista2">
	<%= link_to "Plan Estandar" , profiles_cambiarplan1_path , class: "opciones"%>
	<%= link_to "Plan Familiar" , profiles_cambiarplan2_path , class: "opciones"%>
	<p class="lista3"><%= link_to "No Gracias, Deseo mantener mi suscripcion actual !" , profiles_path %></p>
	</div>

	<% if flash[:alert] %>
        <div class="alertaMala"> <%= alert %> </div>
      <% end %>
      <% if flash[:notice] %>   
          <div class="alertaBuena"> <%= notice %> </div>
      <% end %>

</div>