<%= render 'header' %>

<% if flash[:alert] %>
        <div class="alertaMala"> <%= alert %> </div>
      <% end %>
      <% if flash[:notice] %>   
          <div class="alertaBuena"> <%= notice %> </div>
      <% end %>


<div class="showPerfiles">

	<div class="contenedor">
		<h1>
			Perfil: <%= @profile.name%>
		</h1>
	</div>

	<% if @profile.kids %>
	<div class="contenedor">
		<h2>
			Kids
		</h2>
	</div>
	<% end %>

	<div class="contenedor">
		<h2>Favoritos</h2>
		<h5>proximamente..</h5>
	</div>

	<div class="contenedor">
		<%= link_to 'Borrar', @profile, method: :delete %>
		<%= link_to "Editar", edit_profile_path(@profile) %>
	</div>
	
</div>