<article class="noticia">

    <div class="img">
      <img src="<%= notice.picture %>">
    </div>

    <div class="info">
      <h3 class="titulo">
        <%= notice.titulo %>
      </h3>
      <p class="cuerpo">
      	<%= notice.cuerpo %>
      </p>
    </div>

    <div class="fecha">

      <% 
      tiempoEnSegundos = Time.now - notice.created_at
      tiempoEnHoras = tiempoEnSegundos / 3600
      if tiempoEnHoras < 1
        %>
        <p>Ahora</p>
        <%
      elsif tiempoEnHoras < 24
        t = tiempoEnHoras.to_i %>

        <p>Hace <%= t %> Horas</p>

        <%
      else
        t = (tiempoEnHoras/24).to_i %>

        <p>Hace <%= t %> Dias</p>

        <%
      end
      %>
    </div>

</article>
