<%= render 'header' %>
<% if flash[:alert] %>
        <div class="alertaMala"> <%= alert %> </div>
      <% end %>
      <% if flash[:notice] %>   
          <div class="alertaBuena"> <%= notice %> </div>
      <% end %>


<div class="form_log_in">

  <h2 class="titulo">Modificar Noticia</h2>


  <%= form_for @notice do |b| %>
    <div class="field">
        <%= b.label :titulo %><br>
          <%= b.text_field :titulo , placeholder:'Ingrese aqui el titulo de la noticia ',required: true%>
    </div>

    <div class="field">
      <%= b.label :cuerpo %><br>
      <%= b.text_area :cuerpo , placeholder:'Ingrese el cuerpo de la noticia',required: true%>
    </div>

    <div class="field">
        <%= b.label :picture, 'imagen' %><br>
    <%= b.text_field :picture ,required: true, placeholder: 'Ingrese el link de la Imagen'%>
    </div>


    <div class="actions">
      <%= b.submit "Guardar Cambios" %>
    </div>
  <% end %>

</div>
<%= link_to("Volver",books_indexadmin_path) %>
