<%= render 'header' %>

<% if flash[:alert] %>
        <div class="alertaMala"> <%= alert %> </div>
      <% end %>
      <% if flash[:notice] %>   
          <div class="alertaBuena"> <%= notice %> </div>
      <% end %>

<% if Notice.all.count > 0%>

<section class="listaDeNoticias">
	<%= render Notice.limit(20).order(created_at: :desc) %>
</section>

<% else %>

<h2>No hay noticias</h2>

<% end %>