<%= render 'header' %>

<% if flash[:alert] %>
        <div class="alertaMala"> <%= alert %> </div>
      <% end %>
      <% if flash[:notice] %>   
          <div class="alertaBuena"> <%= notice %> </div>
      <% end %>


<div class="form_log_in">


<h2>Editar Usuario</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
<div class="field">
      <%= f.label :name , 'Nombre'%><br />
      <%= f.text_field :name,  autocomplete: "Nombre" ,required: true%>
    </div>

    <div class="field">
      <%= f.label :surname , 'Apellido'%><br />
      <%= f.text_field :surname, autocomplete: "Apellido",required: true %>
    </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email,  autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Actualmente esperando confirmacion: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password , 'Contraseña'%> <i>(Deje en blanco si no quieres cambiarlo)</i><br />
    <%= f.password_field :password, autocomplete: "nueva contraseña" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> Caracteres minimo</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation , 'Confirme contraseña'%><br />
    <%= f.password_field :password_confirmation, autocomplete: "nueva contraseña" %>
  </div>

  <div class="field">
      <%= f.label :date_of_birth , 'Fecha de nacimiento' %><br />
      <%= f.date_select :date_of_birth , {:use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']},required: true, start_year: 1920, end_year: 2010%>
    </div>

    <div class="field">
      <%= f.label :address , 'Direccion'%><br />
      <%= f.text_field :address, autocomplete: "direccion" ,required: true%>
    </div>

 


<div class="field">
    <%= f.label :card, 'Numero de tarjeta'%><br />
      <%= f.number_field :card, autocomplete: "Numero de tarjeta"%>
    </div>
    <div class="field">
      <%= f.label :cvv, 'Codigo de seguridad (CVV)' %><br />
      <%= f.number_field :cvv, autocomplete: "Codigo de seguridad"%>
    </div>
    <div class="field">
      <%= f.label :vencimiento , {:use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']}, 'Fecha de vencimiento' %> <br />   
      <%= f.date_select :vencimiento ,required: true, start_year: 2019, end_year: 2040%>
    </div>


 <div class="field">
    <%= f.label :current_password , 'Contraseña actual'%> <i>(necesitamos tu contraseña actual para confirmar los cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "Contraseña actual" ,required: true%>
  </div>




  <div class="actions">
    <%= f.submit "Actualizar" %>
  </div>
<% end %>

<h3>Cancelar mi cuenta</h3>

<p>Descontento? <%= button_to "Cancelar mi Cuenta", registration_path(resource_name), data: { confirm: "¿Estas seguro?" }, method: :delete %></p>


</div>
<%= link_to("Volver",profiles_path) %>



<style type="text/css">
  .field{
    margin: 5% 0;
  }
</style>