<header>
  <a href="/welcome">
    <%= image_tag ("logo.png") , :id=>"logo"%>
  </a>
</header>

<% if flash[:alert] %>
        <div class="alertaMala"> <%= alert %> </div>
      <% end %>
      <% if flash[:notice] %>   
          <div class="alertaBuena"> <%= notice %> </div>
      <% end %>

<div id="alertas"></div>

<%= form_for(resource, as: resource_name, id: "form", url: registration_path(resource_name)) do |f|%>

    <%= render "devise/shared/error_messages", resource: resource %>


<div class="slides">

<input type="radio" name="radio-btn" id="sld-1" checked>
<div class="planSuscripcion slide-container">
  <div class="slide">
    <h1>Elige un plan de suscripción</h1>
   
   <!-- <input type="radio" name="plan" id="familiar">-->
    <%= f.radio_button :familiar, true, id: "familiar"%>
    <label for="familiar" class="plan">
      <h2>Familiar</h2>
      <p>Hasta 4 perfiles</p>
      <p>$350 mensuales</p>
    </label>
   <!--  <input type="radio" name="plan" id="normal" checked>-->
   <%= f.radio_button :familiar , false, id: "normal", checked: true%>
    <label for="normal" class="plan">
      <h2>Estandar</h2>
      <p>Hasta 2 perfiles</p>
      <p>$200 mensuales</p>
    </label>


     <div class="siguiente" onclick="uno_dos()">Paso 2 ></div>
  </div>
</div>


<input type="radio" name="radio-btn" id="sld-2">
<div class="form_log_in slide-container">
  <div class="slide">
  <h3 class="subtitulo">Ingresa tus datos</h3>


  


    <div class="field field_email">
      <%= f.email_field :email, autocomplete: "email" ,required: true, id: "email", class: "popeador",onchange: "popear(this)", onkeypress: "return pulsar(event)"%>
            <%= f.label :email, id: "email_label" %>

    </div>

    <div class="field field_contraseña">
      <% if @minimum_password_length %>
      <% end %>
      <%= f.password_field :password, autocomplete: "nueva contraseña" ,required: true, id: "contraseña", class: "popeador", onchange: "popear(this)", onkeypress: "return pulsar(event)"%>
      <%= f.label :password, 'Contraseña', id: "contraseña_label" %>

    </div>

    <div class="field field_confirmar">
      <%= f.password_field :password_confirmation, autocomplete: "nueva contraseña" , id: "confirma_contraseña", class: "popeador", onchange: "popear(this)", onkeypress: "return pulsar(event)"%>
      <%= f.label :password_confirmation , 'Confirme su contraseña', id: "confirma_contraseña_label"%>

    </div>

    <div class="field field_fecha">
      <%= f.date_select :date_of_birth , {:use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']},required: true, start_year: 1920, end_year: 2010, id: "edad", class: "popeador", onchange: "popear(this)", onkeypress: "return pulsar(event)"%>
      <%= f.label :date_of_birth , 'Fecha de nacimiento', id: "edad_label" %>

    </div>

    <div class="field field_direccion">
      <%= f.text_field :address, autocomplete: "direccion" ,required: true, id: "direccion", class: "popeador", onchange: "popear(this)" ,onkeypress: "return pulsar(event)" %>
      <%= f.label :address, 'Direccion', id: "direccion_label" %>

    </div>

   
<div>
  <%= render "devise/shared/links" %>
</div>
  <div class="siguiente" onclick="dos_tres()">Paso 3 ></div>
  <div class="anterior" onclick="dos_uno()">< Paso 1</div>
  </div>
</div>

<input type="radio" name="radio-btn" id="sld-3">
<div class="datosTarjeta slide-container">
  <div class="slide">
    <h1>Datos de la tarjeta</h1>
     
    <div class="field field_nombre">
      <%= f.text_field :name,  autocomplete: "Nombre" ,required: true, id: "nombre_usuario", class: "popeador", onchange: "popear(this)", onkeypress: "return pulsar(event)"%>
      <%= f.label :name, 'Nombre', id: "nombre_usuario_label" %><br />

    </div>

    <div class="field field_apellido">
      <%= f.text_field :surname, autocomplete: "Apellido",required: true, id: "apellido_usuario", class: "popeador", onchange: "popear(this)", onkeypress: "return pulsar(event)" %>
            <%= f.label :surname, 'Apellido', id: "apellido_usuario_label" %><br />

    </div>
    <div class="field field_email">
      <%= f.number_field :card, autocomplete: "Numero de tarjeta",required: true, id: "card_usuario", class: "popeador", onchange: "popear(this)" %>
      <%= f.label :card, 'Numero de tarjeta', id: "card_usuario_label" %><br />
    </div>
    <div class="field field_direccion">
      <%= f.number_field :cvv, autocomplete: "Codigo de seguridad",required: true, id: "cvv_usuario", class: "popeador", onchange: "popear(this)" %>
      <%= f.label :cvv, 'Codigo de seguridad (CVV)', id: "cvv_usuario_label" %><br />
    </div>
    <div class="field field_fecha">
      <%= f.date_select :vencimiento , {:use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']},required: true, start_year: 2019, end_year: 2040, id: "edad", class: "popeador", onchange: "popear(this)"%>
      <%= f.label :vencimiento , 'Fecha de vencimiento', id: "edad_label" %>

    </div>


    <%= f.submit "Listo", class: "siguiente" %>
    <div class="anterior" onclick="tres_dos()">< Paso 2</div>
  </div>
</div>


<li class="nav-dots">
  <label class="nav-dot" id="sld-dot-1"></label>
  <label class="nav-dot" id="sld-dot-2"></label>
  <label class="nav-dot" id="sld-dot-3"></label>
</li>

</div>


<% end %>

<script type="text/javascript">
  
  var primero = document.getElementById("sld-1");
  var segundo = document.getElementById("sld-2");
  var tercero = document.getElementById("sld-3");




  function uno_dos (){
    primero.checked = "false";
    segundo.checked = "true";
    verificarPops();
  }
  function dos_tres (){
    if(verificarDatos()){
       segundo.checked = "false";
      tercero.checked = "true";
    }
  }
  function dos_uno (){
    segundo.checked = "false";
    primero.checked = "true";
  }
  function tres_dos (){
    tercero.checked = "false";
    segundo.checked = "true";
  }





  var nombre_usuario = document.getElementById("nombre_usuario");
  var apellido_usuario = document.getElementById("apellido_usuario");
  var email = document.getElementById('email');
  var contraseña = document.getElementById('contraseña');
  var confirma_contraseña = document.getElementById('confirma_contraseña');
  var edad = document.getElementById('edad');
  var direccion = document.getElementById('direccion');

  var alertaError = document.createElement('div')
  alertaError.className = "alertaMala";

  var textoAlerta;

  var alertas = document.getElementById('alertas');
  

  function verificarDatos(){
    if(verificarEmail() && verificarContraseña() && noEstaVacio(direccion)){
      alertas.innerHTML = ""; 
      return true;
    }else{
      alertaError.innerHTML = "";
      alertaError.appendChild(textoAlerta);
      alertas.innerHTML = "";
      alertas.appendChild(alertaError);
      return false;
    }
  }

  function noEstaVacio(e){
    if(e.value == ""){
      var label = document.getElementById(e.id + "_label");
      textoAlerta = document.createTextNode("El campo " + label.textContent + " no puede estar vacío");
      return false; 
    }else{
      return true;
    }
  }


  function verificarEmail(){
    if(email.value == ""){
      textoAlerta = document.createTextNode("El campo Email no puede estar vacío");
      return false; 
    }else{
      //alert(<% cant = User.where(email: "%> email.value <%").size %>);

      var formatoMail = /^(?:[^<>()[\].,;:\s@"]+(\.[^<>()[\].,;:\s@"]+)*|"[^\n"]+")@(?:[^<>()[\].,;:\s@"]+\.)+[^<>()[\]\.,;:\s@"]{2,63}$/i;

      if(formatoMail.test(email.value)){
        return true;
      }else{
        textoAlerta = document.createTextNode("El Email no sigue el formato ejemplo@ejemplo.com");
        return false;
      }
      
    }
  }

  function verificarContraseña(){
    if(contraseña.value.length < 6){
      textoAlerta = document.createTextNode("La contraseña debe tener al menos 6 caracteres");
      return false;
    }else if(contraseña.value.length > 40){
      textoAlerta = document.createTextNode("La contraseña debe tener menos de 40 caracteres");
      return false;
    }else if(contraseña.value != confirma_contraseña.value){
      textoAlerta = document.createTextNode("Las contraseñas no coinciden");
      return false;
    }else{
      return true;
    }
  }

  function pulsar(e){
    tecla = (document.all) ? e.keyCode :e.which;
    if(tecla == 13){
      dos_tres();
      return false;
    }else{
      return true;
    }
  }




function popear(e){
  if(e.value.length){
    e.classList.add("pop");
  }else{
    e.classList.remove("pop");
  }
}

function verificarPops(){
  var inputs = document.getElementsByClassName("popeador");
  for (var i = 0; i < inputs.length; i++) {
    popear(inputs[i]);
  }
}


</script>