<%= render 'header' %>


<% if flash[:alert] %>
        <div class="alertaMala"> <%= alert %> </div>
      <% end %>
      <% if flash[:notice] %>   
          <div class="alertaBuena"> <%= notice %> </div>
      <% end %>



<div id="listaCapitulos">
<%= link_to "Volver", @book , class:"botonVolver"%>
<% if current_user.admin? %>
    <li> <%= link_to 'Agregar capítulo', new_book_capitulo_path, class:"botonVolver" %></li>
<% end %>


	<% @capitulos.each do |c| %>

		<a href="<%= book_capitulo_path(@book,c) %>" class="cap btn-5">
			<span class="numCap">
				Capítulo: <%= c.numero %>
			</span>
			<span class="tituloCap">
				<%= c.titulo %>
			</span>

      <% if Marker.where(capitulo_id: c.id).where(profile_id: session[:profile_id]).size > 0 %>
          <span class="marcador"></span>
      <% end %>
		</a>

	<% end %>

</div>


<style type="text/css">
	.btn-5,
.btn-5::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-5 {
	color:#ccc;
  position: relative;
}

.btn-5::before,
.btn-5::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

.btn-5:hover {
  color: #fff;
}
.btn-5 {
  overflow: hidden;
}

.btn-5::after {
  background-color: #c00;
  height: 100%;
  left: -35%;
  top: 0;
  transform: skew(50deg);
  transition-duration: 0.6s;
  transform-origin: top left;
  width: 0;
}

.btn-5:hover:after {
  height: 100%;
  width: 135%;
}
</style>