<%= render 'header' %>



<% if flash[:alert] %>
        <div class="alertaMala"> <%= alert %> </div>
      <% end %>
      <% if flash[:notice] %>   
          <div class="alertaBuena"> <%= notice %> </div>
      <% end %>

<div class="form_log_in">

  <h2 class="titulo">Capítulo <%= @capitulo.numero %></h2>
  <h3 class="subtitulo"><%= @book.titulo %></h3>


  <%= form_with(model: [@book,@capitulo], local: true) do |c| %>
    <div class="field">
      	<%= c.label :titulo %><br>
		      <%= c.text_field :titulo , placeholder:'Ingrese aqui el titulo del capitulo ',required: true%>
    </div>


    <div class="field">
      	<%= c.label :pdf %><br>
    	<%= c.text_field :pdf ,required: true, placeholder: 'Ingrese el link del pdf',required: true%>
    </div>

    <div class="field field_fecha">
      <%= c.date_select :indate , {:use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']},required: true, start_year: 2019, end_year: 2040, id: "edad", class: "popeador", onchange: "popear(this)"%>
      <%= c.label :indate , 'Fecha de lanzamiento', id: "edad_label" %>

    </div>
    <div class="field field_fecha">
      <%= c.date_select :outdate , {:use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']},required: true, start_year: 2019, end_year: 2040, id: "edad", class: "popeador", onchange: "popear(this)"%>
      <%= c.label :outdate , 'Fecha de vencimiento', id: "edad_label" %>


    <div class="actions">
      <%= c.submit "Agregar" %>
    </div>
  <% end %>

</div>
<%= link_to("Volver",books_indexadmin_path) %>
