<div class="headerPDF">
	<%= link_to "Salir", @book , class: "volverPDF"%>


<% if @capitulo == nil %>
<% controller.redirect_to books_path %>
<% else %>

	<% if @book.capitulos.size > @capitulo.numero and (@book.capitulos.where(numero: @capitulo.numero+1).first.indate < Time.now) and (@book.capitulos.where(numero: @capitulo.numero+1).first.outdate > Time.now)  %> <!-- si hay capitulo siguiente -->
		<%= link_to "Siguiente", book_capitulo_path(@book,@book.capitulos.where(numero: @capitulo.numero+1)[0]) , class: "siguientePDF"%>
	<% end %>
	<% if (current_user.profiles.find(session[:profile_id]).markers.where(capitulo_id: @capitulo.id)).size == 0 %>
		<%= form_for @marker do |b| %>
		<%=  b.hidden_field :capitulo_id %>
		<%=  b.hidden_field :profile_id %>
		<%=  b.hidden_field :book_id %>
		<%=  b.submit "Colocar marcador",  :class => "colocarMarcador" %>
		<% end %>
		<% else %>
			 <%= link_to 'Eliminar marcador', @marker, method: :delete,  :class => "borrarMarcador" %>
		<% end %>
	<% if @capitulo.numero > 1 and (@book.capitulos.where(numero: @capitulo.numero-1).first.indate < Time.now) and (@book.capitulos.where(numero: @capitulo.numero-1).first.outdate > Time.now) %> <!-- si hay capítulo anterior -->
		<%= link_to "Anterior", book_capitulo_path(@book,@book.capitulos.where(numero: @capitulo.numero-1)[0]) , class: "siguientePDF"%>
	<% end %>

</div>


<iframe src="<%= @capitulo.pdf %>" frameborder='0'></iframe>


<div class="cargandoPDF">
	<div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</div>
<% end %>
