<% if flash[:alert] %>
        <div class="alertaMala"> <%= alert %> </div>
      <% end %>
      <% if flash[:notice] %>   
          <div class="alertaBuena"> <%= notice %> </div>
      <% end %>


<h2>Cambia tu contraseña</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "Nueva contraseña" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> caracteres minimo)</em><br />
    <% end %>
    <%= f.password_field :password, autocomplete: "nueva contraseña" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirmar nueva contraseña" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "nueva contraseña" %>
  </div>

  <div class="actions">
    <%= f.submit "Cambiar mi contraseña" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
