<header>
  <h1 id="logo">Bookflix</h1>
</header>

<% if flash[:alert] %>
        <div class="alertaMala"> <%= alert %> </div>
      <% end %>
      <% if flash[:notice] %>   
          <div class="alertaBuena"> <%= notice %> </div>
      <% end %>



<div class="form_log_in">

  <h2 class="titulo">¿Olvidaste tu contraseña?</h2>
  <h3 class="subtitulo">Reestablece tu contraseña</h3>


	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= render "devise/shared/error_messages", resource: resource %>

	  <div class="field">
	    <%= f.label :email %><br />
	    <%= f.email_field :email, autocomplete: "email" %>
	  </div>

	  <div class="actions">
	    <%= f.submit "Enviarme instrucciones para resetear mi contraseña" %>
	  </div>
	<% end %>

	<%= render "devise/shared/links" %>

</div>



<style type="text/css">
  *{
    margin: 0;
    padding: 0;
  }
  body{
    background-image: url(https://i0.wp.com/kristenheitzmannbooks.com/kristenh-new/wp-content/uploads/2015/09/KH-background-books-dark.jpg?ssl=1);
  }
  header{
    padding: 2%;
    background: #111;
    color: red;
    padding-left: 4%;
    margin-bottom: 2%;
  }
  .form_log_in{
    width: 25%;
    min-width: 300px;
    background: rgba(1,1,1,0.8);
    margin: auto;
    padding: 3%;
    text-align: center;
    color: white;
    border-radius: 10px;
  }
  .form_log_in .titulo{
    color: red;
  }
  .form_log_in .subtitulo{
    color: white;
  }

  .form_log_in .actions input{
    padding: 1% 6%;
    margin: 5%;
  }
  a{
    color: white;
  }
</style>