<article class="libro">

    <div class="img">
    	<img src="<%= book.picture %>">
    </div>

    <a class="info" href="<%= book_path book.id %>">
      <h3 class="titulo">
        <%= book.titulo %>
      </h3>
    </a>

</article>
