<header>
  <%= link_to image_tag("logo.png") , books_path, :id=>"logo"%>
  <input type="checkbox" id="nav-check">
    <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
  <div id="navGeneral">
  <nav id="navPag">
    <ul>
      <li><%= link_to 'Inicio', books_path %></li>
      <li><%= link_to 'Novedades',notices_path %></li>
      <li id="favoritos"><%= link_to '✰Favoritos✰',favorites_path %></li>
      <li id="verMasTarde"><%= link_to '⌛ Ver mas tarde',seelaters_path %></li>
    </ul>
  </nav>
  <nav id="navCuenta">
    <ul>

       <li><%= link_to "Cerrar Sesión", destroy_user_session_path , :method => 'delete' %></li>
      <li><%= link_to 'Cuenta', profiles_path %></li>

      <% if current_user.admin? %>
        <li> <%= link_to('Administrar', books_indexadmin_path) %></li>
      <% end %>


    </ul>
  </nav>
  </div>
</header>
