<%= render 'header' %>
<% if flash[:alert] %>
        <div class="alertaMala"> <%= alert %> </div>
      <% end %>
      <% if flash[:notice] %>   
          <div class="alertaBuena"> <%= notice %> </div>
      <% end %>


<div class="contenedorBuscador">
<div class="buscador">
	<%= form_tag({:controller => "books", :action => "index"}, :method => :get, id: "form_Buscador") do %>
		<%= text_field_tag "buscador", params[:buscador], placeholder: "Buscar por título" %>
  		<div class="search"></div>
  		<%= submit_tag "Buscar", :name => nil , class: "submit"%>
  	<% end %>
</div>
</div>

	<% if @books.size > 0 %>
		<h2 class="titularLista">Ultimos lanzamientos</h2>
		<section class="listaDeLibros">
		  	<%= render  @books.order(created_at: :desc) %>
		</section>
	




<% Genre.all.each do |g| %>

	<% if @books.where(genre:g).size > 0 %>
		<h2 class="titularLista">Genero: <%= g.nombre %></h2>
		<section class="listaDeLibros">
		  	<%= render @books.where(genre:g).order(created_at: :desc) %>
		</section>
	<% end %>
<% end %>

<% Category.all.each do |c| %>

	<% if @books.where(category:c).size > 0 %>
		<h2 class="titularLista">Categoria: <%= c.nombre %></h2>
		<section class="listaDeLibros">
		  	<%= render @books.where(category:c).order(created_at: :desc) %>
		</section>
	<% end %>
<% end %>
<% else %>

	<h2 class="noHayLibrosRey">No se encuentran libros con título "<%= @b %>"</h2>

<% end %>






<script type="text/javascript">
	
	var textWrapper = document.querySelector('.ml6 .letters');
	textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

	var divPantallaCompleta = document.getElementById('pantallaCompleta');

	anime.timeline({loop: false})
	  .add({
	    targets: '.ml6 .letter',
	    translateY: ["1.1em", 0],
	    translateZ: 0,
	    duration: 900,
	    delay: (el, i) => 50 * i
	  });

</script>
