<%= render 'header' %>

<% if flash[:alert] %>
        <div class="alertaMala"> <%= alert %> </div>
      <% end %>
      <% if flash[:notice] %>   
          <div class="alertaBuena"> <%= notice %> </div>
      <% end %>


<%= link_to 'Nuevo Libro', new_book_path, :class => "nuevoLibro" %>



<div class="cabecera">
	<p>Libros</p>
</div>


<section class="ListadoLibrosAdmin">

		<article class="libro">
			<div class="encabezado responsive2">Imagen</div>
			<div class="encabezado responsive2">Titulo</div>
			<div class="encabezado responsive">Resumen</div>
			<div class="encabezado responsive">Autores</div>
			<div class="encabezado responsive">Genero</div>
			<div class="encabezado responsive">Categoria</div>
			<div class="encabezado responsive">ISBN</div>
			<div class="encabezado responsive">Editorial</div>
			<div class="encabezado responsive">Lanzamiento</div>
			<div class="encabezado responsive">Caducidad</div>

		</article>

	<% Book.all.each do |b| %>

		<article class="libro">
		

			<div class="imagen responsive2"><%= link_to image_tag(b.picture), books_showadmin_path(b.id) %></div>
			<div class="titulo responsive2"><%= b.titulo %></div>
			<div class="resumen responsive"><%= b.resumen %></div>
			<div class="autor responsive">
				<% b.authors.each do |a| %>
				<%= a.autor %><br>
				<% end %>
			</div>
			<div class="autor responsive"><%= Genre.find(b.genre_id).nombre %></div>
			<div class="autor responsive"><%= Category.find(b.category_id).nombre %></div>
			<div class="isbn responsive"><%= b.isbn %></div>
			<div class="autor responsive"><%= b.editorial %></div>
			<div class="autor responsive">	<%= b.indate.strftime("%d/%m/%Y") %></div>
			<div class="autor responsive">	<%= b.outdate.strftime("%d/%m/%Y") %></div>

		</article>


	<% end %>
</section>



<%= link_to 'Nueva noticia', new_notice_path, :class => "nuevoLibro" %>

<div class="cabecera">
	<p>Noticias</p>
</div>

<section class="ListadoLibrosAdmin">

		<article class="libro">
			<div class="encabezado responsive2">Imagen</div>
			<div class="encabezado responsive2">Titulo</div>
			<div class="encabezado responsive">Cuerpo</div>
			<div class="encabezado responsive">Fecha</div>
			<div class="encabezado responsive2">Opciones</div>

		</article>

	<% Notice.all.each do |n| %>

		<article class="libro">

			<div class="imagen responsive2"><img src="<%= n.picture %>"></div>
			<div class="titulo responsive2"><%= n.titulo %></div>
			<div class="resumen responsive"><%= n.cuerpo %></div>
			<div class="fecha responsive"> <%= n.created_at.strftime("%Y-%m-%d") %></div>
			<div class="opciones responsive2">
			<%= link_to 'Editar', edit_notice_path(n)%>
			<%= link_to 'Eliminar', n, method: :delete %>
			</div>

		</article>


	<% end %>
</section>