

<%= render 'header' %>

<% if flash[:alert] %>
        <div class="alertaMala"> <%= alert %> </div>
      <% end %>
      <% if flash[:notice] %>   
          <div class="alertaBuena"> <%= notice %> </div>
      <% end %>



<div class="form_log_in">

  <h2 class="titulo">Agrega un libro</h2>


  <%= form_for @book, html: {multipart: true} do |b| %>
    <div class="field">
      	<%= b.label :titulo %><br>
		<%= b.text_field :titulo , placeholder:'Ingrese aqui el titulo del nuevo libro',required: true%>
    </div>

    <div class="form-group">
      	<%= b.label :genre_id, 'Genero' %><br>
		<%= b.collection_select :genre_id, Genre.all, :id, :nombre, placeholder:'Ingrese aqui el genero al que corresponde' %>
    </div>

    <div class="form-group">
      	<%= b.label :category_id, 'Categoria' %><br>
		<%= b.collection_select :category_id, Category.all, :id, :nombre, placeholder:'Ingrese aqui la Categoria a la que corresponde' %>
    </div>

    <div class="field">
    	<%= b.label :resumen %><br>
    	<%= b.text_area :resumen , placeholder:'Ingrese la sinopsis del libro',required: true, :class => 'textarea'%>
    </div>

    <div class="field">
      	<%= b.label :picture, 'Imagen' %><br>
		<%= b.text_field :picture ,required: true, placeholder: 'Ingrese el link de la Imagen'%>
    </div>

     <div class="field">
        <%= b.label :isbn %><br>
    <%= b.text_field :isbn , placeholder:'Ingrese el numero ISBN', required: true%>
    </div>

     <div class="field">
        <%= b.label :editorial %><br>
    <%= b.text_field :editorial , placeholder:'Ingrese la editorial', required: true%>
    </div>

    <div class="field">
    <%= b.label :kids, 'Kids' %> <br />
    <%= b.check_box :kids %> <br />
    </div>


    <div class="field">
      <%= b.label :author_ids, 'Autores'  %><br>

      <%= b.collection_select :author_ids, Author.all, :id, :autor, {}, class: 'autores', multiple: true ,required: true%>



</div>
<div class="field field_fecha">
  <%= b.date_select :indate , {:use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']},required: true, start_year: 2019, end_year: 2040, id: "edad", class: "popeador", onchange: "popear(this)"%>
  <%= b.label :indate , 'Fecha de lanzamiento', id: "edad_label" %>

</div>
<div class="field field_fecha">
  <%= b.date_select :outdate , {:use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']},required: true, start_year: 2019, end_year: 2040, id: "edad", class: "popeador", onchange: "popear(this)"%>
  <%= b.label :outdate , 'Fecha de vencimiento', id: "edad_label" %>

</div>


    <div class="actions">
      <%= b.submit "Agregar Libro" %>
    </div>
  <% end %>

</div>
<br/>






<%= link_to("Volver",books_indexadmin_path) %>
