<%= render 'header' %>

<%= link_to 'Volver', books_indexadmin_path, class:"nuevoLibro" %>

<div class="libroEnCuestion">
	<img src="<%= @book.picture %>">
	<h2>Título: <%= @book.titulo %></h2>
	<p class="autor"> Autor/es:   	<% @book.authors.each do |a| %>
                									<%= a.autor + "." %>
                									<% end %>
	</p>
	<p class="autor"> Genero Literario:   <%= Genre.find(@book.genre_id).nombre %></p>
	<p class="autor"> Categoria:   <%= Category.find(@book.category_id).nombre %></p>
   	<p class="autor"> Editorial:   <%= @book.editorial %></p>
   	<p class="autor"> Lanzamiento: <%= @book.indate.strftime("%d/%m/%Y") %></p>
   	<p class="autor"> Caducidad:  <%= @book.outdate.strftime("%d/%m/%Y") %> </p>
</div>

<%= link_to 'Editar Libro', edit_book_path(@book), class:"nuevoLibro" %>

<div class="cabecera">
	<p>Capítulos</p>
</div>
<section class="ListadoLibrosAdmin">

		<article class="libro">
			<div class="encabezado">Numero</div>
			<div class="encabezado">Titulo</div>
			<div class="encabezado">PDF</div>
			<div class="encabezado">Lanzamiento</div>
			<div class="encabezado">Caducidad</div>
		</article>

	<% @book.capitulos.each do |b| %>

		<article class="libro">
			<div class="imagen"><%= b.numero %></div>
			<div class="titulo"><%= b.titulo %></div>
			<div class="titulo" style="overflow-x: scroll;"><%= b.pdf %></div>
			<div class="titulo"><%= b.indate.strftime("%d/%m/%Y") %></div>
			<div class="titulo"><%= b.outdate.strftime("%d/%m/%Y") %></div>
			<div class="titulo"><%= link_to 'Editar capitulo', edit_book_capitulo_path(@book.id,b) %></div>
			<div class="titulo"><%= link_to 'Eliminar capitulo', borrar_book_capitulo_path(@book.id,b) , data: { confirm: '¿Estas seguro que deseas eliminar el capitulo?'} %></div>
			
		</article>



	<% end %>
</section>
<%= link_to 'Agregar capítulo', new_book_capitulo_path(@book.id), class:"nuevoLibro" %>

<%= link_to 'Eliminar Libro', @book, method: :delete, data: { confirm: '¿Estas seguro que deseas eliminar el libro?'},class:"eliminarLibro" %>
