<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script src='https://dl.dropboxusercontent.com/s/j07tdncc5vgoglb/bootstrap.min.js?dl=0' type='text/javascript'></script>

<script src='https://dl.dropboxusercontent.com/s/ykdgu2edci3bd42/starrr.js?dl=0' type='text/javascript'></script>

<link href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>

<%= render 'header' %>


<% if flash[:alert] %>
        <div class="alertaMala"> <%= alert %> </div>
      <% end %>
      <% if flash[:notice] %>   
          <div class="alertaBuena"> <%= notice %> </div>
      <% end %>


<section id="main">
<% if @book == nil %>
  <% controller.redirect_to books_path %>
<% else %>

  <div class="tituloImagenYResumen">
  	<h1 class="titulo"><%= @book.titulo %></h1>
  	<img src="<%= @book.picture %>">

  	<p class="resumen"><%= @book.resumen %></p>
  </div>

	<div class="botones">
	<%= link_to 'Capítulos', book_capitulos_path(@book) , :class => "leerAhora"%>
	<%if(current_user.profiles.find(session[:profile_id]).favorites.where(book_id:@book.id).size == 0) %>
		 <%= form_for @favorite do |b| %>
		 <%=  b.hidden_field :book_id %>
		 <%=  b.hidden_field :profile_id %>
     	 <%= b.submit "Agregar a favoritos",  :class => "agregarLista" %>
     	 <% end %>
	<% else %>
		 <%= link_to 'Eliminar de lista de favoritos', @favorite, method: :delete,  :class => "eliminarLista" %>
	<% end %>
	<%if(current_user.profiles.find(session[:profile_id]).seelaters.where(book_id:@book.id).size == 0) %>
		 <%= form_for @seelater do |b| %>
		 <%=  b.hidden_field :book_id %>
		 <%=  b.hidden_field :profile_id %>
			 <%= b.submit "Agregar a ver más tarde",  :class => "agregarLista" %>
			 <% end %>
	<% else %>
		 <%= link_to 'Eliminar de ver más tarde', @seelater, method: :delete,  :class => "eliminarLista" %>
	<% end %>
	</div>

  <div class="infoDelLibro">
	<p class="autor"> <span style="color:white;">Autor/es:  </span> 	<% @book.authors.each do |a| %>
                									<%= a.autor + "." %>
                									<% end %>
	</p>
	<p class="autor"> <span style="color:white;">Genero Literario: </span>  <%= Genre.find(@book.genre_id).nombre %></p>
	<p class="autor"> <span style="color:white;">Categoria: </span>  <%= Category.find(@book.category_id).nombre %></p>
   	<p class="autor"> <span style="color:white;">Editorial: </span>   <%= @book.editorial %></p>
  </div>
</section>



   	<% if(Profile.find(session[:profile_id]).votes.where(isbn:@book.isbn).count == 0) %>

   		<% variable = 0 %>

   	<% else %>

   		<% variable = Profile.find(session[:profile_id]).votes.where(isbn:@book.isbn).last.punctuation %>

   	<% end %>


<section id="seccion2">
    <div class="puntuacionEstrellas">
    <p class="autor"><span style="color:white;">Valoración del Público:</span></p>

     <span>
     <% i = @book.punctuation %>
     <% i.times do %>
        <img class="inputstar" src="<%= asset_path 'estrella1.png' %>">
      <% end %>
      <% (5-i).times do %>
        <img class="inputstar" src="<%= asset_path 'estrella2.png' %>">
       <% end %>


     </span>
       <p class="voto">
     <%= @book.scores %> votos
     </p>
     </div>



     <div class="puntuarEstrellas">
      <p class="autor"><span style="color:white;">Tu puntuación:</span></p>

      <span>
     <% @punto.punctuation = 1 %>
     <%= form_for @punto , html: {multipart: true} do |p| %>
     <%= p.hidden_field :profile_id %>
     <%= p.hidden_field :isbn %>
     <%= p.hidden_field :punctuation %>
     <% if(variable > 0) %>
     <%= image_submit_tag ("estrella1.png") , :class => "inputstar" %>
     <% else %>
     <%= image_submit_tag ("estrella2.png") , :class => "inputstar" %>
     <% end %>
     <% end %>

     <% @punto.punctuation = 2 %>
     <%= form_for @punto, html: {multipart: true} do |p| %>
     <%= p.hidden_field :profile_id %>
     <%= p.hidden_field :isbn %>
     <%= p.hidden_field :punctuation %>
     <% if(variable > 1) %>
     <%= image_submit_tag ("estrella1.png") , :class => "inputstar" %>
     <% else %>
     <%= image_submit_tag ("estrella2.png") , :class => "inputstar" %>
     <% end %>
     <% end %>

     <% @punto.punctuation = 3 %>
     <%= form_for @punto, html: {multipart: true} do |p| %>
     <%= p.hidden_field :profile_id %>
     <%= p.hidden_field :isbn %>
     <%= p.hidden_field :punctuation %>
     <% if(variable > 2) %>
     <%= image_submit_tag ("estrella1.png") , :class => "inputstar" %>
     <% else %>
     <%= image_submit_tag ("estrella2.png") , :class => "inputstar" %>
     <% end %>
     <% end %>

     <% @punto.punctuation = 4 %>
     <%= form_for @punto, html: {multipart: true} do |p| %>
     <%= p.hidden_field :profile_id %>
     <%= p.hidden_field :isbn %>
     <%= p.hidden_field :punctuation %>
      <% if(variable > 3) %>
     <%= image_submit_tag ("estrella1.png") , :class => "inputstar" %>
     <% else %>
     <%= image_submit_tag ("estrella2.png") , :class => "inputstar" %>
     <% end %>
     <% end %>

     <% @punto.punctuation = 5 %>
     <%= form_for @punto, html: {multipart: true} do |p| %>
     <%= p.hidden_field :profile_id %>
     <%= p.hidden_field :isbn %>
     <%= p.hidden_field :punctuation %>
      <% if(variable > 4) %>
     <%= image_submit_tag ("estrella1.png") , :class => "inputstar" %>
     <% else %>
     <%= image_submit_tag ("estrella2.png") , :class => "inputstar" %>
     <% end %>
     <% end %>
     </span>

      <% if(variable == 0) %>
      <p class="vote1">
         Aun no has puntuado este libro!!
      </p>
      <% else %>
      <p class="vote2">
           Ya has puntuado este libro
      </p>
      <% end %>
      </div>








 </section>





 <section id="seccion3">

 		<p class="cantComentarios"><%= @book.commentaries.count %> Comentarios</p>


    <div class="formComentar">
   		<span class="comment">
   		   Vas a comentar publicamente como <%= Profile.find(session[:profile_id]).name %>
  		</span>


      <%= form_for @comentario, html: {multipart: true} do |g| %>
        <%= g.hidden_field :profile_id %>
        <%= g.hidden_field :book_id %>
        <div class="field">
          <%= g.text_area :comment , placeholder:'Ingrese aqui su comentario',required: true, maxlength:"100" , :class => "textarea_input"%>
        </div>

        <div class="field">
          <%= g.submit "Comentar", class: "btn-comentar"%>
        </div>
      <% end %>
    </div>


    <div class="listaComentarios">
    	<% @book.commentaries.order(created_at: :desc).each do |c| %>

        <div class="cajaComentario">

            <div class="infoComentario">
        		<%= image_tag Profile.find(c.profile_id).picture %>


            <span class="nombre">
     				   <%= Profile.find(c.profile_id).name %>
     			  </span> &nbsp;

            <span class="fecha">
          			     <%
                		tiempoEnSegundos = Time.now - c.created_at
                		tiempoEnHoras = tiempoEnSegundos / 3600
                		if tiempoEnHoras < 1%>
                 		 Ahora
                 		 <%
                		elsif tiempoEnHoras < 24
                		  t = tiempoEnHoras.to_i %>

                 		 Hace <%= t %> Horas

                 		 <% else
                		  t = (tiempoEnHoras/24).to_i %>

                 		 Hace <%= t %> Dias

                 		 <% end %>

            </span>


           	<% if(current_user.admin? or c.profile_id==session[:profile_id]) %>
              <span class="eliminarComentario"> <%= link_to 'Eliminar', c, method: :delete, data: { confirm: '¿Estas seguro que quieres eliminar este comentario?'} %> </span>
            <% end %>

          </div>
          <div class="contenidoComentario">
        			<%= c.comment %>
          </div>
      </div>
		<% end %>
<% end %>
    </div>
 </section>
