<% if flash[:alert] == "Debes iniciar sesion para continuar."%>
  <script type="text/javascript">
    window.location.href = "/welcome"
  </script>
<% end %>
<header>
<a href="/welcome">
<%= image_tag ("logo.png") , :id=>"logo"%>
</a>
</header>


<div class="form_log_in">

  <h2 class="titulo">¿Ya tienes cuenta?</h2>
  <h3 class="subtitulo">Inicia sesión</h3>



  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password , 'Contraseña'%><br />
      <%= f.password_field :password, autocomplete: "contraseña actual" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me ,'Recordarme'%>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Iniciar sesión" %>
    </div>
  <% end %>


  <%= render "devise/shared/links" %>


</div>



<% if flash[:alert] %>
        <div class="alertaMala"> <%= alert %> </div>
      <% end %>
      <% if flash[:notice] %>   
          <div class="alertaBuena"> <%= notice %> </div>
      <% end %>
