<%= render 'header' %>

<% if flash[:alert] %>
        <div class="alertaMala"> <%= alert %> </div>
      <% end %>
      <% if flash[:notice] %>   
          <div class="alertaBuena"> <%= notice %> </div>
      <% end %>


	<% if @seelater.where(profile_id:session[:profile_id]).all.count > 0 %>
		<h2 class="titularLista">Favoritos</h2>
		<section class="listaDeLibros">
		  	<% @see=@seelater.where(profile_id:session[:profile_id]).all.order(created_at: :desc) %>
		  	<% @see.each do |s| %>
		  	<%= render Book.find(s.book_id) %>
		  	<% end %>
		</section>
	<% else %>

		<h2>No hay Libros para ver mas tarde</h2>

	<% end %>


<script type="text/javascript">
	
	var textWrapper = document.querySelector('.ml6 .letters');
	textWrapper.innerHTML = textWrapper.textContent.replace(/\S/g, "<span class='letter'>$&</span>");

	var divPantallaCompleta = document.getElementById('pantallaCompleta');

	anime.timeline({loop: false})
	  .add({
	    targets: '.ml6 .letter',
	    translateY: ["1.1em", 0],
	    translateZ: 0,
	    duration: 900,
	    delay: (el, i) => 50 * i
	  });

</script>
