
@keyframes fadeout {
0% {
    top:0;
    transform: perspective(400px) rotateX(0deg);
}
100%{
    top:50%;
    transform: perspective(400px) rotateX(90deg);
    visibility: hidden;
}
}
#pantallaCompleta{
	width: 100%;
	height: 100vh;
	background: #111;
	color: red;
	position: fixed;
	text-align: center;
	
	font-size: 200%;

	animation: fadeout 1.5s ease-in 2.5s forwards;
  z-index:8;
	
}
.ml6 {
  position: relative;
  font-weight: 900;
  font-size: 3.3em;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 35vh;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}