// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url(https://i0.wp.com/kristenheitzmannbooks.com/kristenh-new/wp-content/uploads/2015/09/KH-background-books-dark.jpg?ssl=1);
  color:white;
}
a{
  color: white;
}
li{
  list-style:none;
}