//FORM
.form_log_in{
  width: 30%;
  min-width: 300px;
  background: rgba(1,1,1,0.8);
  margin: auto;
  padding: 3%;
  text-align: center;
  color: white;
  border-radius: 10px;
}
.form_log_in .titulo{
  color: red;
}
.form_log_in .subtitulo{
  color: white;
}

.form_log_in .actions input{
  padding: 1% 6%;
  margin: 5%;
}
.form_log_in .textarea{
    max-width:100%;
}
.form_log_in .autores{
  width:80%;
}
//FIN FORM



//CELULAR

@media (max-width:800px){

  .form_log_in{
    width: 100%;
  }

}
