

//GENERAL

header #nav-check, header .nav-btn{
  display:none;
}



header{
    padding: 2%;
    background: #111;
    padding-left: 4%;
    margin-bottom: 2%;
    overflow:hidden;
  }
  header img{
    width: 100%;
  }
  header #logo{
    float: left;
    color: red;
    width:10%;
  }
  header #navPag{
    float:left;
    margin-left:5%;

  }
  header #navCuenta{
    float:right;
    margin-right:5%;

  }
  header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  header nav ul li {
    float: left;
  }

  header nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;

    border-radius:50%;
    transition: all 0.3s linear;
  }
  header nav ul li a:hover{
    background:#262626;
    border-radius:10%;
  }



//TABLETAS

@media (min-width:800px) and (max-width:1080px){      
  #favoritos,#verMasTarde{
  display:none;
  }
}


//CELULAR

@media (max-width:800px){
  header #logo{
    width:40%;
  }

  header .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  header .nav-btn > label {
    display: inline-block;
    width: 60px;
    height:100%;
    margin: 20px;
    padding: 5px 17.5px;
    box-sizing:border-box;
  }
  header  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(255, 255, 255, 0.1);
  }
  header .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }



  header #navGeneral, header #navPag, header #navCuenta {
    width: 100%;
    float: none;
    box-sizing: border-box; 
   
    margin: 0;
    padding: 0;
    li{
      width:100%;
      box-sizing: border-box; 
       border-bottom: solid 1px gray;
    }
  }
  header #navGeneral{
    transition: all 0.5s ease-out;
    overflow: hidden;
    height: 0px;
    text-align: center;
  }

  header #nav-check:checked ~ #navGeneral {
    height: 70vh;
    overflow-y: auto;
  }
}



