
.indexPerfiles{
	background: rgba(0,0,0,0.6);
	width: 90%;
	padding: 2%;
	margin:auto;
	.contenedor{
		margin-bottom: 4%;
		overflow: hidden;
		padding-bottom: 1%;

		.titulo{
			display: inline-block;
			padding: 2%;
			background: crimson;
			border-radius:5px;
		}
		.tema{
			width: 30%;
			float: left;
			color: white;

		}
		.contenido{
			width: 70%;
			float: left;
			font-size: 130%;
			padding-bottom: 1%;

			.imagenPerfil{
				width: 40px;
			}

			.campo{
				overflow:hidden;
				width: 100%;
				border-bottom:solid 1px rgba(255,255,255,0.3);
				.tit{
					display: block;
					float: left;
					font-weight: bold;
					width: 35%;
				}
				.right{
					float: right;
					width: auto;


				}
				
			
			}
		}






		.listaPerfiles{
			width: 100%;
			margin: 0;
			padding: 0;
			overflow: hidden;
			box-sizing: border-box;
		}

		.listaPerfiles{
			.nombrePerfil, .nuevoPerfil{
				width: 20%;
				height: 200px;
				margin: 0;
				text-align: center;
				box-sizing: border-box;
				float: left;
				text-decoration: none;
			}
			.nombrePerfil{
				background: rgba(0,0,0,0.8);
				padding: 1%;
				position: relative;
				a{
					position: absolute;
					bottom: 15px;
					width: 100%;
					left: 0;
				}
			}
			.nuevoPerfil{
				background: rgba(0,0,0,0.5);
			}
			.nombrePerfil:hover, .nuevoPerfil:hover{
				background: rgba(0,0,0,1);
			}
			
		}

		a{
			text-decoration: none;
			background: crimson;
			color: #fff;
			border-radius: 5px;
			padding: 0 5px;
		}
	}
}



//CELULAR

@media (max-width:800px){
	.indexPerfiles{
		width: 100%;

		.contenedor{
			
			.tema{
				width: 100%;
				float: none;
				background: #444;
			}
			.contenido{
				width: 100%;

				.campo{

					.tit{
						width: auto;
						margin-right: 15px;
					}
					
					.right{
						width: auto;
						text-align: center;
					}
				}
			}
		}
	}

}