#listaCapitulos{
	width: 80%;
	margin:auto;
}
#listaCapitulos .cap{
	width:100%;
	background:rgba(4,4,4,0.9);
	display:block;
	padding:2%;
	font-size: 150%;
	text-decoration: none;
	overflow: hidden;
	transition:all 0.3s linear;
}
#listaCapitulos .cap:hover{
	background:rgba(4,4,4,0);
}
#listaCapitulos .numCap{
	float: left;
}
#listaCapitulos .tituloCap{
	margin-left: 5%;
}
#listaCapitulos .marcador{
	float: right;
	background: orange;
	width: 20px;
	height: 20px;
	border-radius: 50%;
}
#listaCapitulos .botonVolver{
	padding: 2%;
	margin: 1%;
	display: inline-block;
	float: left;
	background: #121212;
	width: 20%;
	min-width: 200px;
	text-align: center;
	text-decoration: none;
}
#listaCapitulos .botonVolver:hover{
	background: #222;
}