.ListadoLibrosAdmin{
	margin-bottom: 1%;
	overflow-x: auto;
	overflow-y: hidden;
}


.ListadoLibrosAdmin .libro{
	margin: auto;
	display: flex; 
}
.ListadoLibrosAdmin .libro .encabezado, 
.ListadoLibrosAdmin .libro .imagen,

.ListadoLibrosAdmin .libro .titulo, 
.ListadoLibrosAdmin .libro .resumen, 
.ListadoLibrosAdmin .libro .autor,
.ListadoLibrosAdmin .libro .isbn,
.ListadoLibrosAdmin .libro .opciones,
.ListadoLibrosAdmin .libro .fecha{
	height: 200px;
	border: solid 1px gray;
	box-sizing: border-box;
	text-align: center;
	background: #222;
	float: left;
 	width: 10%;
 	min-width: 150px;
}
.ListadoLibrosAdmin .libro .imagen img{
	height: 200px;
}
.ListadoLibrosAdmin .libro .encabezado{
	height: 50px;
	font-size: 120%;
}
.ListadoLibrosAdmin .libro .opciones a{
	display: block;
}
.ListadoLibrosAdmin .libro .resumen, .ListadoLibrosAdmin .libro .autor{
	overflow-y: auto;
}

.nuevoLibro{
	margin-top: 3%;
	margin-left: 5%;
	display: block;
	padding: 20px;
	width: 25%;
	min-width: 150px;
	background: #c00;
	text-decoration: none;
	font-weight: bold;
	transition: all 0.3s linear;
	text-align: center;
}
.nuevoLibro:hover{
	background: #f33;
	border-radius:15px;
}
.cabecera{
	margin: 1%;
	margin-left: 5%;
	font-size: 200%;
}

.ListadoLibrosAdmin::-webkit-scrollbar, .ListadoLibrosAdmin .libro .resumen::-webkit-scrollbar, .ListadoLibrosAdmin .libro .autor::-webkit-scrollbar{
  background: black;
  height: 7px;
  width: 7px;
}
.ListadoLibrosAdmin::-webkit-scrollbar-thumb, .ListadoLibrosAdmin .libro .resumen::-webkit-scrollbar-thumb, .ListadoLibrosAdmin .libro .autor::-webkit-scrollbar-thumb{
  background: brown;
  border-radius: 5px;
}