
.titularLista{
  margin-left: 4%;
}
.listaDeLibros{
  display: flex;
  width: 100%;
  padding: 2%;
  margin-bottom: 5%;
  box-sizing: border-box;
  overflow-x: scroll;
  overflow-y: hidden;

  .libro{
    margin: 0 0.5%;
    cursor: pointer;

    .info{
      display: block;
      padding:10%;
      position:relative;
      top:-100%;
      background:linear-gradient(-45deg,#111,#333);
      text-align: center;
      text-decoration: none;


      a{
        display: block;
      }
    }

    .info, .img{
      backface-visibility: hidden;
      transition: transform 0.6s linear;
    }
    .img{
      transform: perspective(400px) rotateY(0deg);
    }
    .info{
      transform: perspective(400px) rotateY(180deg);
    }
  }
  .libro:hover > .info{
    transform: perspective(400px) rotateY(0deg);
  }
  .libro:hover > .img{
    transform: perspective(400px) rotateY(-180deg);
  }
}

.listaDeLibros::-webkit-scrollbar{
  background: black;
  height: 7px;
}
.listaDeLibros::-webkit-scrollbar-thumb{
  background: brown;
  border-radius: 5px;
}


.listaDeLibros .libro,.listaDeLibros .libro .img,.listaDeLibros .libro .img img,.listaDeLibros .libro .info{
  width:200px;
  height:250px;
  box-sizing:border-box;
}



//CELULAR

@media (max-width:800px){
  .listaDeLibros .libro,.listaDeLibros .libro .img,.listaDeLibros .libro .img img,.listaDeLibros .libro .info{
    width:100px;
    height:150px;
  }
}

