.seleccionarAvatar{
    max-height: 280px;
    overflow-y: auto;
    text-align: center;

      input[type="radio"]{
        display: none;
      }
      input[type="radio"]:checked + label{
        background: crimson;
      }
      label{
        display: inline-block;
        width: 60px;
        height: 60px;
        overflow: hidden;
        margin: 10px;
        padding: 5px;
        
      }
      .avatarImagen{
        width: 100%; 
      }
  }
  
  .BorrarPefil{
    margin: auto;
    display: block;
    text-decoration: none;
    background: crimson;
    padding: 2%;
    width: 50%;
  }