.listaDeNoticias{
}
.listaDeNoticias .noticia{
	width: 90%;
	background: rgba(0,0,0,0.8);
	margin: auto;
	padding: 3%;
	overflow: hidden;
	margin-bottom: 2%;
	position:relative;
}
.listaDeNoticias .titulo{
	font-size: 300%;
	width: 59%;
	float: left;
}
.listaDeNoticias img{
	margin: 0 5%;
	float:left;
	max-height: 300px;
	max-width: 30%;
	transform: perspective(400px) rotateY(10deg);
}
.listaDeNoticias .cuerpo{
	width: 75%;
	color: #aaa;
	margin-left: 5%;
	margin-bottom: 2%;
}
.listaDeNoticias .fecha{
	color:#aaa;
	position:absolute;
	bottom:10px;
	right:100px;
}


//CELULAR

@media (max-width:800px){
	.listaDeNoticias {
		.titulo{
			font-size: 110%;
		}
		.cuerpo, .fecha{
			font-size: 80%;
			right: 20px;
		}
	}
}