iframe{
  width:100%;
  height:90vh;
}
.headerPDF{
  height:9vh;
  padding:1vh 4%;
  transition:all 0.2s linear;
  background:rgba(0,0,0,1);

}
.headerPDF .colocarMarcador, .headerPDF .borrarMarcador{
  width:15%;  
  height:7vh;
  text-decoration:none;
  line-height:7vh;
  text-align:center;
  border-radius:10px;
  transition:all 0.2s linear;
  border:none;
  display: inline-block;
}
.headerPDF a{
  margin:0 10px;

  width:15%;  
  height:7vh;
  background: rgba(255,0,0,0.5);
  text-decoration:none;
  line-height:7vh;
  text-align:center;
  border-radius:10px;
  transition:all 0.2s linear;
}
.headerPDF .volverPDF{
  float:left;
}
.headerPDF .siguientePDF{
  float:right;
}
.headerPDF a:hover{
  background: rgba(255,0,0,1);
}
.headerPDF:hover{
  background:rgba(0,0,0,0);
}




@keyframes desaparecerLoading{
  0%{
    opacity: 1;
     visibility:visible;
  }
  90%{
    opacity: 1;
     visibility:visible;
  }
  100%{
    opacity: 0;
     visibility:visible;
  }
}
.cargandoPDF{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100vh;
  background:#262626;
  visibility:hidden;
  -webkit-animation: desaparecerLoading 3s;
}