.cosoGigante{
	width: 100%;
	height: 100vh;
	background: #111;
	text-align: center;
	padding:10%;

	h1{
		color: #f00;
		font-size: 300%;
	}


	.lista2{
		margin-top: 5%;
		text-align: center;
		a{
			display: inline-block;
			width: 30%;
			margin: 2%;
			padding: 1%;
			text-decoration: none;
			font-size: 200%;

		}
		@keyframes hover {
			50% {
				transform: translateY(-3px);
			}

			100% {
				transform: translateY(-6px);
			}
		}

		@keyframes hover-shadow {
			0% {
				transform: translateY(6px);
				opacity: .4;
			}

			50% {
				transform: translateY(3px);
				opacity: 1;
			}


			100% {
				transform: translateY(6px);
				opacity: .4;
			}
		}

		a {
			display: inline-block;
			position: relative;
			transition-duration: 0.3s;
			transition-property: transform;

		
			&:before {
				pointer-events: none;
			  position: absolute;
			  z-index: -1;
			  content: '';
			  top: 100%;
			  left: 5%;
			  height: 10px;
			  width: 90%;
			  opacity: 0;
			  background: radial-gradient(ellipse at center, rgba(255,255,255,.35) 0%,rgba(255,255,255,0) 80%); /* W3C */
				transition-duration: 0.3s;
				transition-property: transform opacity;
			}

			&:hover {
				transform: translateY(-6px);
				animation-name: hover;
				animation-duration: 1.5s;
				animation-delay: 0.3s;
				animation-timing-function: linear;
				animation-iteration-count: infinite;
				animation-direction: alternate;

				&:before {
					opacity: .4;
					transform: translateY(6px);
					animation-name: hover-shadow;
					animation-duration: 1.5s;
					animation-delay: .3s;
					animation-timing-function: linear;
					animation-iteration-count: infinite;
					animation-direction: alternate;
				}
			}
		}

	}


	.lista3{
		margin-top: 5%;
		text-align: center;

		a{
			display: inline-block;
			width: 30%;
			margin: 2%;
			padding: 1%;
			text-decoration: none;
			font-size: 120%;
			color: #FF8080;
			
		}
		@keyframes hover {
			50% {
				transform: translateY(-3px);
			}

			100% {
				transform: translateY(-6px);
			}
		}

		@keyframes hover-shadow {
			0% {
				transform: translateY(6px);
				opacity: .4;
			}

			50% {
				transform: translateY(3px);
				opacity: 1;
			}


			100% {
				transform: translateY(6px);
				opacity: .4;
			}
		}

		a {
			display: inline-block;
			position: relative;
			transition-duration: 0.3s;
			transition-property: transform;

		
			&:before {
				pointer-events: none;
			  position: absolute;
			  z-index: -1;
			  content: '';
			  top: 100%;
			  left: 5%;
			  height: 10px;
			  width: 90%;
			  opacity: 0;
			  background: radial-gradient(ellipse at center, rgba(255,255,255,.35) 0%,rgba(255,255,255,0) 80%); /* W3C */
				transition-duration: 0.3s;
				transition-property: transform opacity;
			}

			&:hover {
				transform: translateY(-6px);
				animation-name: hover;
				animation-duration: 1.5s;
				animation-delay: 0.3s;
				animation-timing-function: linear;
				animation-iteration-count: infinite;
				animation-direction: alternate;

				&:before {
					opacity: .4;
					transform: translateY(6px);
					animation-name: hover-shadow;
					animation-duration: 1.5s;
					animation-delay: .3s;
					animation-timing-function: linear;
					animation-iteration-count: infinite;
					animation-direction: alternate;
				}
			}
		}

	}




	.lista{
		margin-top: 5%;
		text-align: center;

		.nombreEImagen{

			display: inline-block;
			width: 15%;
			margin: 2%;
			padding: 1%;
			text-decoration: none;
			
			img{
				width: 100px;
			}
			.nombrePerfil{
				display: block;
				width: 100%;
				text-decoration: none;
				font-size: 150%;
				
			}
		}
		@keyframes hover {
			50% {
				transform: translateY(-3px);
			}
			100% {
				transform: translateY(-6px);
			}
		}

		@keyframes hover-shadow {
			0% {
				transform: translateY(6px);
				opacity: .4;
			}

			50% {
				transform: translateY(3px);
				opacity: 1;
			}


			100% {
				transform: translateY(6px);
				opacity: .4;
			}
		}

		.nombreEImagen {
			display: inline-block;
			position: relative;
			transition-duration: 0.3s;
			transition-property: transform;
		
			&:before {
				pointer-events: none;
			  position: absolute;
			  z-index: -1;
			  content: '';
			  top: 100%;
			  left: 5%;
			  height: 10px;
			  width: 90%;
			  opacity: 0;
			  background: radial-gradient(ellipse at center, rgba(255,255,255,.35) 0%,rgba(255,255,255,0) 80%); /* W3C */
				transition-duration: 0.3s;
				transition-property: transform opacity;
			}

			&:hover {
				transform: translateY(-6px);
				animation-name: hover;
				animation-duration: 1.5s;
				animation-delay: 0.3s;
				animation-timing-function: linear;
				animation-iteration-count: infinite;
				animation-direction: alternate;

				&:before {
					opacity: .4;
					transform: translateY(6px);
					animation-name: hover-shadow;
					animation-duration: 1.5s;
					animation-delay: .3s;
					animation-timing-function: linear;
					animation-iteration-count: infinite;
					animation-direction: alternate;
				}
			}
		}
		
	}
	
}

//CELULAR

@media (max-width:800px){
	.cosoGigante{
		padding: 2%;

		h1{
			margin: 8%;
		}

		.lista{

			.nombreEImagen{
				width: 40%;
				margin: 10% 4%;
				
			}
		}

		.tituloPrincipal{
			font-size:40px;
		}
		.lista2{



			.opciones{
				box-sizing: border-box;
				width: 40%;
				margin: 1%;
				padding: 0;
				font-size: 30px;
			}
			a{
				width: 100%;
			}
		}
	}

}