*{
	box-sizing: border-box;
}
#main{
	width: 90%;
	background: rgba(0,0,0,0.8);
	margin-left: 5%;
	padding-left: 5%;
	padding-bottom: 0%;
	padding-top: 5%;
	padding-right: 5%;
	overflow: hidden;
}
#main .titulo{
	font-size: 300%;
	width: 73%;
	float: left;
}
#main img{
	float:right;
	margin-right: 2%;
	width: 25%;
	transform: perspective(400px) rotateY(-10deg);
}
#main .resumen, #main .autor{
	width: 75%;
	color: #aaa;
	margin-left: 5%;
	margin-bottom: 2%;
}
#main .autor{
	font-weight: bold;
	margin-top: 2%;
}
#main .botones{
	overflow:hidden;
}

#main .leerAhora, #main .agregarLista, #main .eliminarLista{
	display: block;
	width: 25%;
	margin-left: 5%;
	padding: 2%;
	text-align: center;
	text-decoration: none;
	font-weight: bold;
	transition: all 0.2s linear;
	float: left;
	font-size:15px;
	cursor:pointer;
}
#main .leerAhora{
	background: #c00;
	border: none;
	color:white;
}
#main .leerAhora:hover{
	background: #f33;
}
#main .agregarLista{
	border: solid 2px white;
	background:none;
	color:white;
}
#main .agregarLista:hover{
	background: #222;
}
#main .eliminarLista{
	border: solid 2px black;
	background:white;
	color:black;
}
#main .eliminarLista:hover{
border: solid 2px white;
	background: #222;
	color:white;
}
#main .capitulosLabel{
	margin-left: 5%;
	font-weight: bold;
	font-size: 200%;
}
#main .capitulos{
	margin-left: 5%;
	width: 60%;
	background: #262626;
	height: 200px;
}




#seccion2{
	width: 90%;
	background: rgba(0,0,0,0.8);
	margin-left: 5%;
	padding-left: 5%;
	padding-bottom: 0%;
	margin-bottom: 0%;
	margin-top: 0%;
	padding-top: 0%;
	overflow: hidden;
}

#seccion2 .resumen, #seccion2 .autor{
	width: 75%;
	color: #aaa;
	margin-left: 5%;
	margin-bottom: 2%;
}
#seccion2 .autor{
	font-weight: bold;
	margin-top: 2%;

}

#seccion2 a, #seccion2 .leerAhora{
	display: block;
	width: 20%;
	margin-left: 0%;
	padding-left: 0%;
	text-align: left;
	text-decoration: none;
	transition: all 0.2s linear;
	float: left;
	}

#seccion2 .puntuarEstrellas,
#seccion2 .puntuacionEstrellas{
	width: 90%;
	margin-left: 5%;
	box-sizing:border-box;

	.autor{
		float:left;
		width:30%;
		line-height:35px;
		margin:0;
		padding:0;
		text-align: left;
	}


	.inputstar{
		display:inline-block;
		margin:5px;
		width: 25px;
		height: 25px;
		transition:all 0.3s ease-out;
	}
	.inputstar:hover{
		transform: translate(0,-3px);
		background: radial-gradient(ellipse at center, rgba(255,255,0,.8) 0%,rgba(255,255,255,0) 80%);
	}
	form{
		display:inline-block;
	}
	.voto{
		display:inline-block;
		line-height:35px;
		vertical-align:top;
		font-size: 15px;
	    text-decoration: none;
	    color: #EFB810;
	    font-style: italic;
	}
	.vote1{
	    color: #FF0000;
	    display:block;
	    margin-left:30%;
	}
	.vote2{
	    color: #00FF00;
	    display:block;
	    margin-left:30%;

	}

}




#seccion2 .valoracion2{
	
	margin-left: 0%;
	margin-top: 0%;
	margin-bottom: 0%;
	width: 140px;
	height: 20px;
	margin-right: 55%;
	padding-left: 0%;
	transition: all 0.2s linear;
	float: right;
	font-size: 20px;
    text-decoration: none;

}


#seccion3{
	width: 90%;
	background: rgba(0,0,0,0.8);
	margin-left: 5%;
	padding-left: 5%;
	padding-bottom: 0%;
	margin-bottom: 0%;
	margin-top: 0%;
	padding-top: 0%;
	overflow: hidden;
}

#seccion3 .resumen, #seccion3 .autor{
	width: 75%;
	color: #aaa;
	margin-left: 5%;
	margin-bottom: 2%;
}
#seccion3 .cantComentarios{
	font-weight: bold;
	margin-top: 2%;
	margin-left: 5%;
	font-size: 20px;

}

#seccion3 a, #seccion3 .leerAhora{
	display: block;
	width: 20%;
	margin-left: 0%;
	padding-left: 0%;
	text-align: left;
	text-decoration: none;
	transition: all 0.2s linear;
	float: left;
}

#seccion3 .nombre{
	
	margin-top: 0%;
	margin-left: 5%;
	font-size: 25px;
	font-weight: bold;
}

.seccion3 .fecha{
	color:#aaa;
	position:absolute;
	bottom:10px;
	right:100px;

	
}


.formComentar{
	width: 90%;
	margin: auto;
	padding: 1%;
	overflow: hidden;
	.textarea_input{
		display: block;
		width: 100%;
		resize: none;
	}
	.btn-comentar{
		float: right;
		background: red;
		border: none;
		padding: 10px;
		border-radius: 10px;
		color: white;
		margin: 10px;
	}
}
.listaComentarios{
			width: 100%;
			display: block;
			overflow: hidden;

			.cajaComentario{
				
				width: 90%;
				margin: 1% auto;

				.infoComentario{
					background: #333;
					padding: 1%;
					width: 100%;
					overflow: hidden;
					border-bottom: solid 1px black;	

					img{
						width: 40px;
						height: 40px;
						float: left;
						margin:0;
						padding: 0;
					}
					.nombre{
						display: block;
						float: left;
						font-size: 30px;
						line-height: 40px;
						margin:0;
						padding: 0;

					}
					.fecha{
						font-size: 10px;
						position: relative;
						top: 10px;
						
					}
					.eliminarComentario{
						float: right;
						font-size: 12px;
						line-height: 40px;
					}
				}
				.contenidoComentario{
					background: #222;
					padding:0 5%;
					color: white;
					
				}

			}
		}


//CELULAR

@media (max-width:800px){

	#main{
		width: 100%;
		margin: 0;

		.tituloImagenYResumen{
			overflow: hidden;
			margin-bottom: 20px;

			.titulo{
				font-size: 30px;
			}

			img{
				width: 50%;
			}

		}
		.botones{
			width: 100%;
			box-sizing: border-box;
			.leerAhora, .agregarLista, .eliminarLista{
				display: block;
				box-sizing: border-box;
				width: 90%;
				margin-top: 20px;

			}
		}
		.infoDelLibro{
			width: 100%;
			margin: 40px 0;
		}
	}

	#seccion2{
		width: 100%;
		margin: 0;
		padding: 0;

		.puntuacionEstrellas, .puntuarEstrellas{
			margin:10px 0;
			width: 100%;
			padding: 0;
			overflow: hidden;

			.autor{
				text-align: center;
			}
		}
	}

	#seccion3{

		width: 100%;
		margin: 0;
		padding: 0;


		


	}


}