.libroEnCuestion{
	width:90%;
	margin:auto;
	height: 300px;
	margin: 5%;


	img{
		float:left;
		height:300px;
		margin-right: 2%;
		transform:perspective(600px) rotateY(20deg);
	}
	h2{
		display:block;
		line-height: 80px;

	}
	p{
		color: #ddd;
		font-weight: bold;
	}
}
.eliminarLibro{
	margin: 5% auto;
	display: block;
	padding: 1%;
	width: 25%;
	background: crimson;
	text-decoration: none;
	font-weight: bold;
	transition: all 0.3s linear;
	text-align: center;
}
.eliminarLibro:hover{
	background: red;
	border-radius:15px;
}
//CELULAR

@media (max-width:800px){
	.libroEnCuestion{
		text-align: center;
		height: auto;

		img{
			float: none;
			margin: auto;
			display: inline-block;
		}
	}
}