//GENERAL

.slides {
    padding: 0;
    width: 50%;
    height: 95vh;
    overflow-y: hidden;
    display: block;
    background: rgba(1,1,1,0.8);
    margin: 0 auto;
    position: relative;
    margin-bottom: 2%;

  * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
  }

  .slide-container { 
    display: block; 
  }
  input[type="radio"] { 
    display: none; 
  }
  .slide {
      top: 0;
      width: 80%;
      left: 10%;
      opacity: 0;
      padding:5%;
      text-align: center;
      display: block;
      position: absolute;
      box-sizing: border-box;
      transform: scale(0);

      transition: all .7s ease-in-out;


        .field {
          box-sizing: border-box;
          width: 100%;
          display: inline-block;
          margin: 25px 0;
          padding: 1%;
          position: relative;
        }
        .field input{
          width: 90%;
          padding: 1%;
          position: absolute;
          top: 0;
          left: 5%;
          height: 40px;
          background: rgba(0,0,0,0.2);
          border: none;
          border-bottom:  solid 3px #aaa;
          color: white;
        }
        .field label{
          width: 90%;
          height: 40px;
          line-height: 40px;
          display: block;
          position: absolute;
          color: white;
          top: 0;
          left: 7%;
          z-index: -1;
          text-align: left;
          transition: all 0.3s ease-out;
        }
        
        .field input:focus + label{
          top: -30px;
        }
        .field input:focus{
          border-color: crimson;
        }
        .field .pop + label{
          top: -30px;
        }
        .field_nombre, .field_apellido, .field_fecha, .field_direccion{
          width: 45%;
        }
        .field_fecha{
          text-align: left;
        }
        .field_fecha select{          
          position: relative;
          display: inline-block;
        }
        .field_fecha label{
          z-index: 2;
          top: -30px;
        }
        .siguiente , .anterior{
          background: red;
          padding:2%;
          margin-top: 5%;
          width: 35%;
          cursor:pointer;
          border: none;
          color: white;
        }
        .siguiente{
          float: right;
        }
        .anterior{
          float: left; 
        }
      

  }
  .form_log_in{
    width: 100%;
    margin: auto;
    background: none;
  }
  input:checked + .slide-container  .slide {
      opacity: 1;

      transform: scale(1);

      transition: opacity 1s ease-in-out;
  }
  .nav-dots {
    width: 100%;
    bottom: 9px;
    height: 11px;
    display: block;
    position: absolute;
    text-align: center;
  }

  .nav-dots .nav-dot {
    top: -15px;
    width: 11px;
    height: 11px;
    margin: 0 4px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: #800;
    z-index: 0;
  }



  input#sld-1:checked ~ .nav-dots label#sld-dot-1,
  input#sld-2:checked ~ .nav-dots label#sld-dot-2,
  input#sld-3:checked ~ .nav-dots label#sld-dot-3{
    background: #f00;
  }
}




  .planSuscripcion .plan{
    width: 40%;
    margin: 1%;
    height: 400px;
    background: #222;
    display: inline-block;
    transition: all 0.3s ease-out;
    border-bottom: solid 0px crimson;
    color: #666;
    padding-top: 2%;
  }
  .planSuscripcion .plan h2{
    margin: 2% 0;
  }
.planSuscripcion input[type="radio"]:checked + label{
  border-bottom: solid 15px crimson;
  background: #333;
  color: white;
}


//CELULAR

@media (max-width:800px){

  .slides{
    width: 100%;
    height: 100vh;

    .slide{
      width: 100%;
      left: 0;

      .field_nombre, .field_apellido, .field_fecha, .field_direccion{
        width: 100%;
      }

      .field_fecha{
        text-align: center;
        top: 30px;
      }
    }

    .planSuscripcion .plan{
      height: 200px;
      width: 48%;
      float: left;
      box-sizing: border-box;
    }

    
  }
}