header{
	#navCuentaWelcome{
		float:right;
	}
	.botonRojo{
		background: red;
		color: white;
		border-radius: 5px;
	}
	.botonRojo:hover{
		background: crimson;
	}
}
#particles-js{
	width:100%;
	height:100vh;
	position:fixed;
	z-index:-1;
	background-image: url(https://i0.wp.com/kristenheitzmannbooks.com/kristenh-new/wp-content/uploads/2015/09/KH-background-books-dark.jpg?ssl=1);
}
.frase{
	width:60%;
	margin:auto;
	text-align:center;

	.principal{
		font-size: 100px;
	}
	.secundaria{
		font-size: 30px;
		font-weight: normal;
		margin-bottom: 3%;
	}
	a{
		transition: all 0.3s linear;
		display: block;
		width: 40%;
		background: red;
		border-radius: 5px;
		padding: 3%;
		margin: auto;
		font-size: 30px;
		text-decoration: none;
	}
	a:hover{
		background: crimson;
	}
}


//CELULAR
@media (max-width:800px){
	.frase{
		margin-top: 10%;
		width: 90%;
		
		.principal{
			font-size: 60px;
		}
		.secundaria{
			font-size: 20px;
		}
		a{
			width: 95%;
			font-size: 20px;
		}
	}

}