<p>Bienvenido <%= @email %>! </p>

<p>Puedes confirmar tu usuario a traves del siguiente link:</p>

<p><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, confirmation_token: @token) %></p>
