<p>Saludos<%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Queriamos informarte que tu mail sera modificado por el siguiente mail: <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Queriamos informarte que tu mail ha sido modificado por el siguiente mail:<%= @resource.email %>.</p>
<% end %>
