<p>Saludos! <%= @resource.email %>!</p>

<p> Alguien ha solicitado un link para cambiar tu Contraseña. Puedes hacerlo a traves del siguiente link. </p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p> Si no solicitaste esto, porfavor ignora este mail.</p>
<p> Tu mail no podra cambiarse hasta que accedas al link que esta debajo.</p>
