<p>Saludos! <%= @resource.email %>!</p>

<p>Tu cuenta ha sido bloqueada debido a un numero excesivo de intentos erroneos de acceso.</p>

<p>Click en el link para desbloquear mi cuenta:</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, unlock_token: @token) %></p>
