<!DOCTYPE html>
<html>
  <head>
    <title>Bookflix</title>

    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' />
    <link href="https://fonts.googleapis.com/css?family=Mukta&display=swap" rel="stylesheet">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <% if flash[:notice] == "Seleccionaste perfil correctamente"%>
            <% if current_user.admin? %>
              <script type="text/javascript">
                window.location.href = "/books/indexadmin"
              </script>
            <% else %>

            <div id="pantallaCompleta">
            <h1 class="ml6">
              <span class="text-wrapper">
                <span class="letters">Bookflix</span>
              </span>
            </h1>
            </div>



            <% end %>
            
      <% end %>
    <%= yield %>
    <style type="text/css">
    	*{
    		font-family: 'Mukta', sans-serif;
    	}
      .alertaMala{
        background: #f88;
        color: #c11;
        border: solid 1px #f88;
      }
      .alertaBuena{
        background: #8f8;
        color: #1c1;
        border: solid 1px #8f8;
      }
      .alertaBuena,.alertaMala{
        width: 80%;
        padding: 1%;
        margin: 3% auto;
        box-sizing: border-box;
        border-radius: 15px;
      }
    </style>
      
                  <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>

  </body>
</html>
